{% extends 'layout.twig' %}

{% block content %}
    <div class="row mt-4">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form action="{{ path_for('auth.password.change') }}" method="post">
                        <div class="form-group{{ errors.password_old ? ' has-error' : '' }}">
                            <label for="password_old">Current Password</label>
                            <input type="password" name="password_old" id="password_old" class="form-control">
                            {% if errors.password_old %}
                                <span class="hel-block">{{ errors.password_old | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.password ? ' has-error' : '' }}">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control">
                            {% if errors.password %}
                                <span class="hel-block">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-default">Change Password</button>

                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}