body {
    padding-top: 50px;
}

@keyframes notify {
    0% {
    }
    5% {
        background-color: #28a745;
        border-radius: 5px;
    }
    100% {
    }
}
@keyframes notify-warning {
    0% {
    }
    5% {
        background-color: #dc3545;
        border-radius: 5px;
    }
    100% {
    }
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.notify,
.notify input {
    animation-name: notify;
    animation-duration: 1.2s;
    animation-delay: .1s;
}

.notify-warning,
.notify-warning input {
    animation-name: notify-warning;
    animation-duration: 1.2s;
    animation-delay: .1s;
}

.hidden,
.item-placeholder,
#category_placeholder {
    display: none;
}

.hc-layout {
    column-count: 4;
    column-gap: 1em;
    column-fill: balance;
    display: block;
    height: auto;
}

.hc-panel {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.checklist-date {
    font-size: 1.5rem;
}

.category-content {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 100%;
    padding: .25rem .75rem .75rem;
}

.category-wrap {
    position: relative;
}

.remove-cat-btn {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 2rem;
    width: 20px;
}

.category-title,
.item-title {
    border: 0 solid grey;
}

.category-title {
    width: 100%;
    line-height: 2rem;
    font-size: 1.5rem;
    font-family: "Ubuntu", serif;
    padding-left: 20px;
}

.category-title:focus,
.item-title:focus {
    outline: 0;
    border: 0;
}

.category-items {
    list-style-type: none;
    padding-left: 0;
}

.item {
    width: 100%;
    background-color: #fff;
}

.item-handle {
    width: 5%;
    text-align: center;
    cursor: move;
}

.item-checkbox {
    width: 8%;
    height: 0.9rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.1rem;
}

.item-title {
    width: 80%;
    margin: 0;
    display: inline-block;
    line-height: 1.8rem;
    background-color: #fff;
}

.item:nth-child(even),
.item:nth-child(even) input {
    background-color: #e2e2e2;
}

.item-checkbox:checked ~ .item-title {
    color: grey;
    text-decoration: line-through;
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 1100px) {
    .hc-layout {
        column-count: 3;
    }

    .item-checkbox {
        width: 10%;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .hc-layout {
        column-count: 2;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .hc-layout {
        column-count: 1;
    }

    /*.item-checkbox {*/
    /*width: 10px;*/
    /*}*/
}
