{% extends "layout.twig" %}

{% block content %}
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2 col-sm-12">
            <h1>Checklists</h1>
            <div class="list-group">
                {% for checklist in checklists %}
                    <div class="list-group-item list-group-item-action d-flex flex-column flex-md-row justify-content-between align-content-center">
                        <h4 class="mb-sm-2 mb-md-0">{{ checklist.name|e }}</h4>

                        <div class="checklist-button-box">
                            <a href="/checklist/view/{{ checklist.id|e }}"
                               class="btn btn-sm btn-success btn-inline mt-sm-1 mt-md-0">
                                View
                            </a>
                            <a href="/checklist/add/{{ checklist.id|e }}"
                               class="btn btn-sm btn-primary btn-inline ml-1 mt-sm-1 mt-md-0">
                                <i class="fas fa-pencil-alt mr-1"></i> Edit
                            </a>
                            <a href="/checklist/duplicate/{{ checklist.id|e }}"
                               class="btn btn-sm btn-outline-warning btn-inline ml-1 mt-sm-1 mt-md-0">
                                <i class="fas fa-clone mr-1"></i> duplicate
                            </a>
                            <a href="/checklist/remove/{{ checklist.id|e }}"
                               class="btn btn-sm btn-outline-danger btn-inline ml-1 mt-sm-1 mt-md-0"
                               onclick="return confirm('Are you sure you want to delete this checklist?')">
                                <i class="fas fa-times mr-1"></i> Remove
                            </a>
                        </div>
                    </div>

                {% else %}
                    <p>No checklists found. <a href="/checklist/add/">Add</a> a new checklist.</p>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-md-2 col-sm-12">
            <h1>Checklists shared with me</h1>
            <div class="list-group">
                {% for checklist in subscibed_checklists %}
                    <div class="list-group-item list-group-item-action d-flex flex-column flex-md-row justify-content-between align-content-center">
                        <h4 class="mb-sm-2 mb-md-0">{{ checklist.name|e }}</h4>

                        <div class="checklist-button-box">
                            <a href="/checklist/view/{{ checklist.id|e }}"
                               class="btn btn-sm btn-success btn-inline mt-sm-1 mt-md-0">
                                View
                            </a>
                        </div>
                    </div>

                {% else %}
                    <p>
                        No shared checklists found.
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-md-2 col-sm-12">
            <h1>Public checklists</h1>
            <div class="list-group">
                {% for checklist in public_checklists %}
                    <div class="list-group-item list-group-item-action d-flex flex-column flex-md-row justify-content-between align-content-center">
                        <h4 class="mb-sm-2 mb-md-0">{{ checklist.name|e }}</h4>

                        <div class="checklist-button-box">
                            {% if(auth.user.id == checklist.user_id) %}
                                <a href="/checklist/view/{{ checklist.id|e }}"
                                   class="btn btn-sm btn-success btn-inline mt-sm-1 mt-md-0">
                                    View
                                </a>
                                <a href="/checklist/add/{{ checklist.id|e }}"
                                   class="btn btn-sm btn-primary btn-inline ml-1 mt-sm-1 mt-md-0">
                                    <i class="fas fa-pencil-alt mr-1"></i> Edit
                                </a>
                            {% endif %}
                            <a href="/checklist/duplicate/{{ checklist.id|e }}"
                               class="btn btn-sm btn-outline-warning btn-inline ml-1 mt-sm-1 mt-md-0">
                                <i class="fas fa-clone mr-1"></i> copy to my checklists
                            </a>
                            {% if(auth.user.id == checklist.user_id) %}
                                <a href="/checklist/remove/{{ checklist.id|e }}"
                                   class="btn btn-sm btn-outline-danger btn-inline ml-1 mt-sm-1 mt-md-0"
                                   onclick="return confirm('Are you sure you want to delete this checklist?')">
                                    <i class="fas fa-times mr-1"></i> Remove
                                </a>
                            {% endif %}
                        </div>
                    </div>

                {% else %}
                    <p>
                        No public checklists found. <a href="/checklist/add/">Add</a> a new checklist or edit a
                        checklist
                        and check the public checkbox.
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
