{% extends "layout.twig" %}
{% set wrappingClasses = 'col-sm-12 col-md-10 offset-md-1' %}
{% set layoutClasses = 'row hc-layout' %}
{% set categoryClasses = 'category hc-panel' %}

{% block content %}
    <div class="row mt-4">
        <div class="{{ wrappingClasses }} align-items-center d-md-flex mb-4 mb-md-2 justify-content-between p-0">
            <h1>{{ checklist.name|e }}</h1>
            <span class="checklist-date">
                <i class="fas fa-calendar-alt mr-1"></i>
                {{ checklist.date_start|date("Y-m-d") }} - {{ checklist.date_end|date("Y-m-d") }}
                ({{ date(checklist.date_start).diff(date(checklist.date_end)).days }} nights)
            </span>
            <span class="btn btn-success float-right" id="add_new_cat">Add category</span>
        </div>

        <div class="{{ wrappingClasses }}">
            <div class="{{ layoutClasses }}" id="categories">
                <div class="{{ categoryClasses }}" id="category_placeholder">
                    <div class="category-content">
                        <div class="category-wrap">
                            <i class="fas fa-times fa-circle remove-cat-btn"></i>
                            <input type="hidden" name="checklist_id" value="{{ checklist.id|e }}"/>
                            <input type="hidden" name="id" value=""/>
                            <input name="name" class="category-title" placeholder="Enter category title here."/>
                        </div>
                        <ul class="category-items sortable">
                            <li class="item item-placeholder">
                                <i class="item-handle fas fa-grip-vertical"></i>
                                <input type="hidden" class="input" name="id" value=""/>
                                <input type="hidden" class="input" name="category_id" value="{{ cat.id|e }}"/>
                                <input class="input" type="hidden" name="checked" value="0"/>
                                <input class="input item-checkbox" type="checkbox" name="checked" value="1"/>
                                {#Known issue, tabindex doesn't work on new added items - TODO#}
                                <input class="input item-title" type="text" name="name" value=""
                                       placeholder="Enter item title here."/>
                            </li>
                        </ul>
                        <div class="text-right">
                            <span class="btn btn-success add_new_item">Add item</span>
                        </div>
                    </div>
                </div>

                {% for cat in categories %}
                    <div class="{{ categoryClasses }}">
                        <div class="category-content">
                            <div class="category-wrap">
                                <i class="fas fa-times fa-circle remove-cat-btn"></i>
                                <input type="hidden" name="checklist_id" value="{{ checklist.id|e }}"/>
                                <input type="hidden" name="id" value="{{ cat.id|e }}"/>
                                <input name="name" value="{{ cat.name|e }}" class="category-title"
                                       placeholder="Enter category title here."/>
                            </div>
                            <ul class="category-items sortable">
                                {#Placeholder when adding new items with javascript#}
                                <li class="item item-placeholder" data-value="0">
                                    <i class="item-handle fas fa-grip-vertical"></i>
                                    <input type="hidden" class="input" name="id" value=""/>
                                    <input type="hidden" class="input" name="category_id" value="{{ cat.id|e }}"/>
                                    <input class="input" type="hidden" name="checked" value="0"/>
                                    <input class="input item-checkbox" type="checkbox" name="checked" value="1"/>
                                    {#Known issue, tabindex doesn't work on new added items - TODO#}
                                    <input class="input item-title" type="text" name="name" value=""
                                           placeholder="Enter item title here."/>
                                </li>

                                {% for item in cat.items %}
                                    <li class="item">
                                        <i class="item-handle fas fa-grip-vertical"></i>
                                        <input type="hidden" class="input" name="id" value="{{ item.id|e }}"/>
                                        <input type="hidden" class="input" name="category_id" value="{{ cat.id|e }}"/>
                                        <input type="hidden" class="input" name="checked"/>
                                        <input type="checkbox"
                                               class="input item-checkbox"
                                               name="checked"
                                               value="1"
                                                {{ item.checked|e == '0' ? '' : 'checked' }} />
                                        <input type="text"
                                               class="item-title input"
                                               name="name"
                                               tabindex="{{ cat.id|e }}{{ '%03d'|format(item.order|e) }}"
                                               value="{{ item.name|e }}"
                                               placeholder="Enter item title here."/>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="text-right">
                                <span class="btn btn-success add_new_item">Add item</span>
                            </div>
                        </div>
                    </div>
                    <div>{#css column property fix#}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="csrf_check">
        {{ csrf.field | raw }}
    </div>

    <script type="text/javascript">
        /*
        * jQuery throttle / debounce - v1.1 - 3/7/2010
        * http://benalman.com/projects/jquery-throttle-debounce-plugin/
        *
        * Copyright (c) 2010 "Cowboy" Ben Alman
        * Dual licensed under the MIT and GPL licenses.
        * http://benalman.com/about/license/
        */
        (function (b, c) {
            var $ = b.jQuery || b.Cowboy || (b.Cowboy = {}), a;
            $.throttle = a = function (e, f, j, i) {
                var h, d = 0;
                if (typeof f !== "boolean") {
                    i = j;
                    j = f;
                    f = c
                }

                function g() {
                    var o = this, m = +new Date() - d, n = arguments;

                    function l() {
                        d = +new Date();
                        j.apply(o, n)
                    }

                    function k() {
                        h = c
                    }

                    if (i && !h) {
                        l()
                    }
                    h && clearTimeout(h);
                    if (i === c && m > e) {
                        l()
                    } else {
                        if (f !== true) {
                            h = setTimeout(i ? k : l, i === c ? e - m : e)
                        }
                    }
                }

                if ($.guid) {
                    g.guid = j.guid = j.guid || $.guid++
                }
                return g
            };
            $.debounce = function (d, e, f) {
                return f === c ? a(d, e, false) : a(d, f, e !== false)
            }
        })(this);


        jQuery(function ($) {
            // TODO: When pressing tab/enter on category, make a new item


            // Init some listeners
            itemClickListener();
            itemFocusListener();
            categoryFocusListener();

            // Set the CSRF tokens
            const csrfFields = $('#csrf_check').find('input');
            let csrf = [];

            const csrfSerialized = csrfFields.serialize();
            $.each(csrfFields.serializeArray(), function () {
                csrf[this.name] = this.value;
            });

            // Merge two objects/arrays
            function extend(obj, src) {
                Object.keys(src).forEach(function (key) {
                    obj[key] = src[key];
                });
                return obj;
            }

            // Handler for the sorting after a sort action
            var sortEventHandler = function (event, ui) {
                ajaxOrderSave($(this));
            };

            // The sortable listener has to be after sortEventHandler
            sortableListener();

            function sortableListener() {
                $(".sortable").sortable({
                    handle: ".item-handle",
                    stop: sortEventHandler
                });
            }

            // Listen to the new category button
            $('#add_new_cat').click(function () {
                let newCat = $('#category_placeholder').clone();

                newCat.removeAttr('id', 'category_placeholder');
                $('#categories').append(newCat);

                // Renew the listeners because there are new objects in the screen
                itemClickListener();
                categoryFocusListener();
                sortableListener();
            });

            function appendNewItem(child) {
                var cat = child.closest('.category');
                var itemPlaceholder = cat.find('.item-placeholder').clone();

                itemPlaceholder.removeClass('item-placeholder');

                cat.find('.category-items').append(itemPlaceholder);
                // Focus on the last item in the list
                cat.find('.item:last-child input').focus();

                // Listen to focus for input fields
                itemFocusListener();
            }

            // Listen to the "Add item" button
            function itemClickListener() {
                $('.add_new_item').unbind().click(function () {
                    appendNewItem($(this));
                });
            }

            // When changing a title
            function itemFocusListener() {
                const input = $('.category-items .input');

                // Run the save function after 500ms of inactivity
                input.unbind().bind("propertychange change keyup input paste", $.debounce(400, ajaxItemSave));

                input.keyup(function (event) {
                    // 13 = enter
                    if (event.keyCode == 13) {
                        appendNewItem($(this));
                    }
                });
            }


            // When changing a category
            function categoryFocusListener() {

                // Remove
                $('.remove-cat-btn').unbind().click(function () {
                    var wrap = $(this).closest('.category-wrap');
                    var id = wrap.find('input[name="id"]').serialize();

                    ajaxCategoryRemove(wrap, id);
                });

                // Add or edit
                $('.category-title').unbind().focusout(function () {
                    var inp = $(this);

                    // First remove the notify class from the input
                    inp.removeClass('notify');

                    if (inp.val() === '') {
                        // inp.addClass('notify warning');
                        alert('The category title is not saved, please enter a new title to save it.');
                        return;
                    }

                    ajaxCategorySave(inp);
                });
            }

            let oldVal, oldId = '';

            /**
             * Save an item by an AJAX post
             */
            function ajaxItemSave() {
                var inp = $(this),
                    wrap = inp.closest('.item'),
                    serialized = wrap.find('.input').serialize();

                // Don't save when the input is the same
                if (oldVal === inp.val() && oldId === wrap.find('input[name="id"]').val()) {
                    return;
                }

                wrap.removeClass('notify notify-warning');

                $.post("{{ baseurl }}/item/save", serialized + '&' + csrfSerialized).done(function (data) {
                    switch (data['action']) {
                        case 'saved':
                            //todo, light up the item in green or something
                            wrap.addClass('notify');
                            break;
                        case 'added':
                            // Set the item ID which is returned in the AJAX response
                            wrap.find('input[name="id"]').attr('value', data['item_id']);

                            wrap.addClass('notify');

                            ajaxOrderSave(inp.closest('ul'));
                            break;
                        case 'removed':
                            wrap.remove();
                            break;
                        default:
                            wrap.addClass('notify-warning');
                            break;
                    }
                });

                oldVal = inp.val();
                oldId = wrap.find('input[name="id"]').val();
            }

            /**
             * Save the item order by an AJAX post
             *
             * @param categoryItemList
             */
            function ajaxOrderSave(categoryItemList) {
                let elements = categoryItemList.children();
                let orderedElements = [];

                elements.each(function (order, element) {
                    orderedElements.push($(element).find('input[name="id"]').val());
                });

                $.post("{{ baseurl }}/item/save-order", extend({'order': orderedElements}, csrf)).done(function (data) {
                    // TODO
                });
            }

            /**
             * Remove a category by an AJAX post
             *
             * @param wrap
             * @param id
             */
            function ajaxCategoryRemove(wrap, id) {
                $.post("{{ baseurl }}/category/delete", id + '&' + csrfSerialized).done(function (data) {
                    switch (data['action']) {
                        case 'error':
                            alert('something went wrong, please remove all items before removing the category.');
                            break;
                        case 'notfound':
                        case 'removed':
                            wrap.closest('.category').remove();
                            break;
                        default:
                            alert('Some really bad things happened.');
                            break;
                    }
                });
            }

            /**
             * Save a category by an AJAX post
             *
             * @param inp
             */
            function ajaxCategorySave(inp) {
                const wrap = inp.closest('.category-wrap');
                const serialized = wrap.find('input').serialize();

                $.post("{{ baseurl }}/category/save", serialized + '&' + csrfSerialized).done(function (data) {
                    switch (data['action']) {
                        case 'saved':
                            // Notify the user with a visual notification
                            inp.addClass('notify');
                            break;
                        case 'added':
                            // Set the category ID which is returned in the AJAX response
                            wrap.find('input[name="id"]').attr('value', data['category_id']);
                            wrap.closest('.category').find('input[name="category_id"]').attr('value', data['category_id']);
                            break;
                        case 'removed':
                            // TODO
                            break;
                        default:
                            // TODO
                            break;
                    }
                });
            }


            function debounce(func, wait, immediate) {
                var timeout;
                return function () {
                    var context = this, args = arguments;
                    var later = function () {
                        timeout = null;
                        if (!immediate) func.apply(context, args);
                    };
                    var callNow = immediate && !timeout;
                    clearTimeout(timeout);
                    timeout = setTimeout(later, wait);
                    if (callNow) func.apply(context, args);
                };
            };
        });
    </script>

{% endblock %}
