{% extends "layout.twig" %}

{% block content %}
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2 col-sm-12 d-flex justify-content-between align-items-center">
            {% if checklist.name is not null %}
                <h1 class="float-left"><i class="fas fa-list-ul mr-1"></i> {{ checklist.name|e }}</h1>
            {% else %}
                <h1 class="float-left"><i class="fas fa-list-ul mr-1"></i> New checklist</h1>
            {% endif %}
        </div>

        <div class="col-md-8 offset-md-2 col-sm-12">
            {% if error is defined %}
                <div class="alert alert-danger">
                    {{ error|e }}
                </div>
            {% endif %}
            <form action="/checklist/add/{{ checklist.id }}" method="post" class="needs-validation">
                <input type="hidden" value="{{ checklist.id }}" name="id"/>

                <div class="form-group">
                    <label for="checklist_name">Name</label>
                    <input type="text" required class="form-control" id="checklist_name" name="name" placeholder="Name"
                           value="{{ checklist.name|e }}"/>
                    <div class="invalid-feedback">
                        Name is required
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="checklist_date_start">Start date</label>
                        <div class="input-group">
                            <input type="date"
                                   class="form-control"
                                   id="checklist_date_start"
                                   name="date_start"
                                   value="{{ checklist.date_start|date("Y-m-d") }}"/>
                            <div class="input-group-append">
                                <span class="input-group-text" id="date_icon"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="checklist_date_end">End date</label>
                        <div class="input-group">
                            <input type="date"
                                   class="form-control"
                                   id="checklist_date_end"
                                   name="date_end"
                                   value="{{ checklist.date_end|date("Y-m-d") }}"/>
                            <div class="input-group-append">
                                <span class="input-group-text" id="date_icon"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-check">
                    <input type="hidden" name="public_view" value="0"/>
                    <input type="checkbox" class="form-check-input" id="public_view" value="1"
                           name="public_view" {{ checklist.public_view ? 'checked' : '' }}
                           aria-describedby="car_public_view_help"/>
                    <label for="car_public_view" class="form-check-label">Public</label>
                    <small id="car_public_view_help" class="form-text text-muted">
                        This will show this checklist under "public lists". This gives people the ability to
                        duplicate your checklist.
                    </small>
                </div>
                <div class="form-check hidden">
                    <input type="hidden" name="public_edit" value="0"/>
                    <input type="checkbox" class="form-check-input" id="car_public_edit" value="1"
                           name="public_edit" {{ checklist.public_edit ? 'checked' : '' }}
                           aria-describedby="car_public_edit_help"/>
                    <label for="car_public_edit" class="form-check-label">Shared editing?</label>
                    <small id="car_public_edit_help" class="form-text text-muted">
                        Select the users you want to share it with and have a collaborated checklist.
                    </small>
                </div>

                <h2 class="mt-4">Share with</h2>
                {% for usr in users %}
                    <div class="form-check">
                        <input type="hidden" name="user[{{ usr.id }}]" value="0"/>
                        <input type="checkbox" class="form-check-input"
                               id="user_{{ usr.id }}"
                               value="1"
                               name="user[{{ usr.id }}]" {{ usr.id in users_selected ? 'checked' }}/>
                        <label for="user_{{ usr.id }}" class="form-check-label">{{ usr.name }}
                            <small>({{ usr.email }})</small>
                        </label>
                    </div>
                {% endfor %}



                {{ csrf.field | raw }}

                <div class="form-group">
                    <input type="submit" class="btn btn-primary float-right" id="checklist_save" value="Opslaan"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
