<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Holiday Checklists</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url|e }}/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="{{ url|e }}/css/solid.css" media="all">
    <link rel="stylesheet" type="text/css" href="{{ url|e }}/css/fontawesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="{{ url|e }}/css/style.css" media="all">

    <!-- Scripts -->
    <script type="text/javascript" src="{{ url|e }}/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ url|e }}/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url|e }}/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{ url|e }}/js/script.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if auth.check %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ baseurl|e }}">Checklists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ baseurl|e }}/checklist/add/">New checklist</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if auth.check %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ auth.user.name }} <span class="caret"></span></a>
                    <div class="dropdown-menu r-0">
                        <span class="dropdown-header">Welcome!</span>
                        <a class="dropdown-item" href="{{ path_for('auth.password.change') }}">Change Password</a>
                        <a class="dropdown-item" href="{{ path_for('auth.signout') }}">Sign Out</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item nav">
                    <a class="nav-link" href="{{ path_for('auth.signin') }}">Sign In</a>
                </li>
                <li class="nav-item float-right">
                    <a class="nav-link" href="{{ path_for('auth.signup') }}">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </div>


</nav>

<main role="main" class="container-fluid">
    {% block content %}{% endblock %}
</main>

</body>
</html>
